::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #E9E9E9;
    border-radius: 2px;
}

.nav-link {
    @apply py-1.5 px-6
}

.nav-link.router-link-active,
.nav-link.router-link-exact-active {
    @apply rounded-full dark:bg-gray-700 dark:text-gray-200 bg-gray-100 text-green-900 font-semibold
}

.form-input {
    @apply px-5 py-4 text-sm border outline-none placeholder:font-light border-gray-200 rounded-lg bg-gray-100
}
.form-header{
    @apply border-solid border-gray-200 border-b-2 bg-gray-100 py-2
}
.fixture-form{
@apply rounded-lg
}
.container{
    align-items: center;
    justify-content: space-between;
}
.form-header {
    @apply text-2xl
}

